@font-face {
    font-family: Belgiano;
    src: url("belgiano.otf");
}
@font-face {
    font-family: Lexend;
    src: url("LexendMega-Regular.ttf")
}
@font-face {
    font-family: Gagalin;
    src:url("Gagalin-Regular.otf");
}